.App {
    font-family: sans-serif;
    text-align: center;
      
  }
  
  .listMenu {
    padding: 5px 10px;
    margin: 5px;
    background: #bebebe;
    color: #151515;
  }
  .iconCollapse {
    padding: 5px;
    cursor: pointer;
  }
  
.main {
  width: 100%;
  /* margin: 2%; */
}

.column {
    float: left;
    width: 45%;
    margin: 2%
}

.right {
    margin-left:2%;
}

.justified{
    margin: 2%;
    clear: both;
}

.button{
    float: right;
    margin-top: 5px;
}

.textbox{
    font-family:serif;
}

.MuiFormHelperText-root{
    height: 0;
}